.container_sell{
    margin-top: 20px;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    flex-direction: column;
}

.sub_Sell_container{
    width: 100%;
    background-color: antiquewhite;
}
.ad{
    margin-top: 20px;

}
.imgbuysell{
    width: 100%;
    /* height: auto; */
}
.imgbuysellad{
    width: 100%;
    /* height: 10vh; */
}