.mycls {
  /* background-color: orange; */
}

.subcontainer_allcategories {
  /* background-color: bisque; */
  display: flex;
  gap: 3%;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
}

.productssection {
  display: flex;
  justify-content: start;
  gap: 20px;
  flex-wrap: wrap;
}

h1 {
  padding: 20px 0px;
}

@media screen and (max-width: 1000px) {

  .subcontainer_allcategories {
    /* background-color: bisque; */
    display: flex;
    gap: 3%;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .productssection {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}
